/* style.css */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.container-user {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.info-column {
    flex: 1;
    margin-right: 20px;
}

.card-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    justify-content: flex-end;
}
.card-column button {
    width: 100%;
    margin-bottom: 10px;
}
.container-user h2 {
    padding-top: 55px;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.delete-account-btn {
    background-color: red;
    width: 48% !important;
}
.logout-btn {
    width: 49% !important;
}
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;

}

button:hover {
    background-color: #0056b3;
}




label {
    font-weight: bold;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.info-message {
    color: blue;
}
